<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name=viewport>
</head>
<body>
<!-- Top Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">
                Все материалы
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><%= htmlWebpackPlugin.options.title %></a></li>
                <!--<li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="row" id="content">
    <%= htmlWebpackPlugin.options.content %>
</div>
</body>
</html>
